<?xml version="1.0"?>
<configuration>


  <location path="content-digital-services.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.irealities.com/digital-content.html" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="news.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.irealities.com/news-update.html" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="contact-us.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.irealities.com/index.html" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="digitalservices.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.irealities.com/digital-marketing.html" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="rich-content-format.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.irealities.com/digital-content.html" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="media-channels.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.irealities.com/digital-marketing.html" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="chaar-sahibzaade.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.irealities.com/entertainment.html" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="bird-idol.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.irealities.com/entertainment.html" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="sheikh-chilli.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.irealities.com/entertainment.html" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="corporate-content.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.irealities.com/digital-content.html" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <!--<appSettings>
	  
    <add key="connection" value="Data Source=192.168.4.222;Initial Catalog=irealities;User ID=sa;Password=iripl" />
  </appSettings>-->
	<connectionStrings>
		<add name="connection" connectionString="Server=148.72.232.166;Initial Catalog=irealities_site;User ID=irealities_live;Password=irealities@123" providerName="System.Data.SqlClient"/>
		<!--<add name="connection" connectionString="Server=DESKTOP-KS02BDF;Initial Catalog=irealities_site;User ID=sa;Password=sa@123" providerName="System.Data.SqlClient"/>-->

	</connectionStrings>
  <!--<system.net>
		<mailSettings>
			<smtp>
				<network host="smtpout.secureserver.net" userName="irealities.qa@gmail.com" password="Qatest2707@" />
			</smtp>
		</mailSettings>
	</system.net>-->
  <system.web>
   <!--<compilation debug="true" targetFramework="4.0" defaultLanguage="c#" />-->
	  <compilation debug="true" targetFramework="4.0"></compilation>

	  <customErrors mode="Off" defaultRedirect="mycustompage.htm"/>
    <trust level="Full" />
    <authentication mode="None" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <clientCache cacheControlMaxAge="28.00:00:00" cacheControlMode="UseMaxAge" />
    </staticContent>
    <caching>
      <profiles>
        <add extension=".aspx" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="00:01:00:00" />
        <add extension=".jpeg" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="28:00:00:00" />
        <add extension=".gif" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="28:00:00:00" />
        <add extension=".jpg" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="28:00:00:00" />
        <add extension=".png" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="28:00:00:00" />
        <add extension=".js" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="28:00:00:00" />
        <add extension=".css" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="28:00:00:00" />
      </profiles>
    </caching>
  </system.webServer>
</configuration>